*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
    display: grid;
    margin: 0 auto;
    background-color: #b3b3b3;
    grid-template-columns: repeat(3,2fr);
    grid-template-rows: 100px 200px 50px 100px;
    grid-gap: 1rem;
    margin-bottom: 4rem;
}

.item{
    background: white;
    padding: 1rem;
    border-radius: 5px;
}

.item:first-child{
    background: green;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.item:last-child{
    background: yellow;
    grid-column: 1 / span 3;
}

.areas-container{
    display: grid;
    grid-template-areas:"whatever whatever whatever whatever"
    "left wheee wheee aside"
    "left wheee wheee aside" 
    "asddas wheee wheee aside"
    "footer footer footer footer";
    grid-gap: 0.4rem;
    grid-auto-rows: 1fr;
}
.header{
    grid-area: whatever;
    background: red;
    padding: 1rem;
    min-height: 100px;
}
.left{
    grid-area: left;
    background: rgb(204, 255, 0);
}

.main{
    grid-area: wheee;
    background: rgb(0, 102, 255);
}

.aside{
    grid-area: aside;
    background: rgb(166, 19, 139);

}

.footer{
    grid-area: footer;
    background: rgb(124, 79, 5);
}