* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   gap: 4px;
}

body {
    font-family: sans-serif;
}

header{
    display: flex;
    /* align-items: center;
    padding: 1rem;to have space around the heading content  */
    
    color: black;
}

.site_title{
    flex: 1;
    background-color: yellow;
}
ul{
    display: flex;
    list-style-type: none;
    flex: 1;/* it put the link right side of the corner */
    background-color: rgb(241, 150, 211);
    
    
 
}

li{
    margin: 1rem;
    padding: 1rem;
    
}

.post-title{
    background-color: rgb(118, 181, 245);
    height: 4rem;
}

main{
    display: flex;
    margin: 5px;
}

section{
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 100vh;
    background:rgb(139, 172, 145);
}

.post-meta{
    background-color: rgb(87, 230, 166);
    flex: 0.4;
}

.section-post-container{
    display: flex;
    flex: 1;
}  

.main-content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-content{
    flex: 1;
    background-color: gray;
}

.main-content-img{
    flex: 3;
    background-color: yellow;
}

aside{
    display: flex;
    flex-direction: column;
    background: rgb(57, 82, 57);
    flex: 1;
}
aside>div{
    flex:1;
}
.side-bar{
    background-color: orange;
}

.ads{
    background-color: green;
}
.other-stuff{
    background-color: palevioletred;
}
footer{
    height: 5rem;
    background-color: red;
}
